*{
    box-sizing: border-box;
}
html{
background: url(../img/bg2.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2%;
    padding-right: 2%;
}

#main-menu{
    display: none;
}
.main-menu-list{
    margin: 0;
    padding: 0;
}

.section-vcbody{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px 4px rgba(0,0,0,0.30);
}
#page-home{
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    min-width: 35%;
    top: 0;
    margin: 0 auto;
}
.card-profile-img{
    position: relative;
    width: 60%;
    height: 40%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 5%;
}
img{
    margin:0 auto;
    vertical-align: middle;
    width: 100%;

}
.card-profile-description{
    text-align: center;
}
.prof-title{
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    font-size: 26px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #021533;
}
.prof-subtitle{
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
}
.line-below-subtitle{
    display: block;
    position: relative;
    margin-top: 5%;
}
.card-description-text{
    text-align: center;
}
.card-profile-description-ft-unit{
    position: relative;
    color: white;
    width: 100%;
    border-radius: 8px;
    padding:10px;
    background-image: url(../img/ft-background1.png);
    background-size: auto;
    margin-left: 1%;

}
.card-footer{
    margin-top: 8%;
}
.social-references a{
    margin-left: 10px;
    color: black;
}
#page-abilities{
    display: block!important;
    visibility: visible!important;
    height: auto!important;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    min-width: 35%;
    margin: 0 auto;
    margin-top: 5%;
}
.section-title{
    width: 100%;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px dotted black;
    margin: 0 auto;
    padding-bottom: 3%;
    padding-left: 30%;
}
.section-item-title{
    width: 75%;
    margin-left: 10%;
    font-weight: bold;
    border-bottom: 1px dotted black;
}
.skillbar {
  position: relative;
  display: inline-block;
  margin: 15px 0;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  width: 100%;
}
.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
}
.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  display: inline-block;
}
.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #ffffff;
  color: rgba(0, 0, 0, 0.4);
}
#page-resume{
    display: block!important;
    visibility: visible!important;
    height: auto!important;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    min-width: 35%;
    margin: 0 auto;
    margin-top: 5%;
    overflow-y: scroll;
}

#page-about{
    display: block!important;
    visibility: visible!important;
    height: auto!important;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    min-width: 35%;
    margin: 0 auto;
    margin-top: 5%;
   }

#page-projects{
    display: block!important;
    visibility: visible!important;
    height: auto!important;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    min-width: 35%;
    margin: 0 auto;
    margin-top: 5%;
    overflow-y: scroll;
}
#page-contact{
    display: block!important;
    visibility: visible!important;
    height: auto!important;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    min-width: 35%;
    margin: 0 auto;
    margin-top: 5%;
    overflow-y: scroll;
}
.google-map{
    margin: 0 auto;
    padding-left: 7%;
}
h4{
    color: rgb(255, 165, 30);
    line-height: 20px;
}
.form{
    display:block;
    margin-top: 0;
}
.form-group{
    margin-bottom: 5px;
}
.form-control{
    display: block;
    width: 100%;
    line-height: 1.42857143;
    font-size: 15px;
    padding: 6px 12px;
    margin-bottom: 1px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#message{
    height: auto;
}
.btn-send{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(255, 165, 30);
    border: 0 solid transparent;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.btn-send:hover{
    background: rgb(178, 79, 0);
}






