*{
    box-sizing: border-box;
}
html{

}
body{
    background-size: auto;
    background-image: url(../img/background.jpg);
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    background-color: antiquewhite;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2%;
    padding-right: 2%;
}

#main-menu{
    display: none;
}
.main-menu-list{
    margin: 0;
    padding: 0;
}

.section-vcbody{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

}
#page-home{
    background-image: url(../img/hb-background.png);
    background-size: auto;
    position: absolute;
    border-radius: 8px;
    min-width: 35%;
    top: 0;
    margin-left: 5%;
    margin-right: 5%;

}

.card-profile-img{
    position: relative;
    width: 60%;
    height: 40%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 5%;
}
img{
    margin:0 auto;
    vertical-align: middle;
    width: 100%;

}
.card-profile-description{
    text-align: center;

}
.prof-title{
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    font-size: 26px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #021533;

}
.prof-subtitle{
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
}
.line-below-subtitle{
    display: block;
    position: relative;
    margin-top: 5%;
}
.card-description-text{
    text-align: center;

}

.card-profile-description-ft-unit{
    position: relative;
    color: white;
    width: 100%;
    border-radius: 8px;
    padding:10px;
    background-image: url(../img/ft-background1.png);
    background-size: auto;
    margin-left: 1%;

}
.card-footer{
    margin-top: 8%;

}
.social-references a{
    margin-left: 10px;
    color: black;
}
#page-abilities{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow: hidden;
}

.section-title{
    width: 75%;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin-left: 10%;
    margin-top: 5%;
    padding-bottom: 10px;
    padding-left: 130px;
    margin-bottom: 5%;
}
.section-item-title{
    width: 75%;
    margin-left: 10%;
    font-weight: bold;
    border-bottom: 1px dotted black;
}
.dev-skills{
    width: 85%;
}
.dev-skills li{
    background-color: aliceblue;
    margin-bottom: 5%;
    line-height: 150%;
    border-radius: 4px;
    padding-left: 20px;
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.prof-skills{
    width: 400px;
}
.prof-skills li{
    display: block;
    background-color: aliceblue;
    margin-bottom: 5%;
    line-height: 150%;
    border-radius: 4px;
    padding-left: 20px;
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
#page-resume{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow-y: scroll;
}

#page-about{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow-y: scroll;
}
#page-projects{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow-y: scroll;
}
#page-contact{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow-y: scroll;
}
.google-map{
    margin: 0 auto;
    padding-left: 7%;
}
h4{
    color: rgb(255, 165, 30);
    line-height: 20px;
}
.form-control{
    display: block;
    width: 100%;
    border-radius: 0;
    height: 50px;
    padding: 6px 12px;
    border: 1px, solid, #ccc;
}






