*{
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
}
body{
    background-size: auto;
    background-image: url(../img/background.jpg);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

div.container{
    background-color: antiquewhite;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2%;
    padding-right: 2%;
}
#main-menu{
    position:absolute;
    width: 15%;
    top: 0;
    margin-left: 8%;
    padding-right: 12px;
    margin-top: 30px;
}
.main-menu-list{
    margin: 0;
    padding: 0;
}
.main-menu-list li{
    margin-bottom: 10px;

}
.main-menu-list a{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: rgb(255, 165, 30);
    border-radius: 8px;
    text-transform: uppercase;
    color: aliceblue;
    display: block;
    padding-left: 30px;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.main-menu-list a:hover{
    background: rgb(178, 79, 0);
}

#home-block{
    background-image: url(../img/hb-background.png);
    background-size: auto;
    position: absolute;
    border-radius: 8px;
    min-width: 35%;
    height: 630px;
    top: 0;
    margin-left: 23%;
    overflow: hidden;
}
.card-home{
    position: relative;

}
.card-profile-img{
    position: absolute;
    left: 19%;
    margin-top: 10%;
}
.card-profile-description{
    position: absolute;
    padding-left: 10%;
    margin-top: 50%;
}
.prof-title{
    position: absolute;
    display: block;
    margin-top: 3%;
    left: 20%;

}
.prof-subtitle{
    display: block;
    position: absolute;
    margin-top: 9%;
    left: 35%;
}
.line-below-subtitle{
    display: block;
    position: relative;
    margin-top: 20%;
}
.card-description-text{
    position: absolute;
    margin-top: -1%;
    left: 20%;
}
.fa{
    color: black;
}
.card-profile-description-ft-unit{
    position: relative;
    color: white;
    width: 100%;
    border-radius: 8px;
    padding:10px;
    background-image: url(../img/ft-background1.png);
    background-size: auto;
    margin-left: -1%;
    margin-top: 25%;
}
.card-footer{
    position: absolute;
    margin-top: 8%;
    margin-left: 25%;
}
.social-references a{
    margin-left: 10px;
}
#page-abilities{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow: hidden;
}

.section-title{
    width: 75%;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin-left: 10%;
    margin-top: 5%;
    padding-bottom: 10px;
    padding-left: 130px;
    margin-bottom: 5%;
}
.section-item-title{
    width: 75%;
    margin-left: 10%;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px dotted black;
}
.dev-skills{
    width: 85%;
}
.dev-skills li{
    background-color: aliceblue;
    margin-bottom: 5%;
    line-height: 150%;
    border-radius: 4px;
    padding-left: 20px;
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.prof-skills{
    width: 400px;
}
.prof-skills li{
    display: block;
    background-color: aliceblue;
    margin-bottom: 5%;
    line-height: 150%;
    border-radius: 4px;
    padding-left: 20px;
    opacity: 0.5;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
#page-resume{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow-y: scroll;
}

#page-about{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow-y: scroll;
}
#page-projects{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow-y: scroll;
}
#page-contact{
    background-color: aliceblue;
    background-image: url(../img/hb-background.png);
    background-size: auto;
    border-radius: 8px;
    position: absolute;
    width: 35%;
    height: 630px;
    top: 0;
    left:61%;
    overflow-y: scroll;
}
.google-map{
    margin: 0 auto;
    padding-left: 7%;
}
.form-control{
    display: block;
    width: 100%;
    border-radius: 0;
    height: 50px;
    padding: 6px 12px;
    border: 1px, solid, #ccc;
}





